html,
body {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color: $black;
}

body {
  color: $white;
  // background-color: $purple;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ifit {
  color: #005856;
  font-weight: 500;
}

.capitalone {
  color: #0046aa;
  font-weight: 500;
}

.degreed {
  color: #00aaff;
  font-weight: 500;
}

.trex {
  color: #007a33;
  font-weight: 500;
}

.linkedin {
  color: #0a66c2;
  font-weight: 500;
}

.github {
  color: #171515;
  font-weight: 500;
}

.email {
  font-weight: 500;
}