html,
body {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color: $black;
}

body {
  color: $white;
  // background-color: $purple;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}