// Component-specific styles for Card
// Variables and mixins are auto-imported via next.config.ts

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $off-white;
  border-radius: $border-radius-medium;
  padding: $padding-large;
  color: $charcoal;
  display: flex;
  flex-direction: column;
  gap: $padding-medium;
  &:hover {
    @include card-hover-effect;
  }

  .heading {
    font-size: map-get($font-sizes, '2xl');
    font-weight: 600;
  }

  .subheading {
    font-size: map-get($font-sizes, lg);
    color: $text-secondary;
  }

}
