// Component-specific styles for Card
// Variables and mixins are auto-imported via next.config.ts

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 2rem;
  color: $charcoal;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  max-height: 20rem;
  
  .heading {
    font-size: map-get($font-sizes, '2xl');
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
  }

  .subheading {
    font-size: map-get($font-sizes, lg);
    color: rgb(75 85 99);
  }
}
