.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem 0;
  font-family: var(--font-rubik);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}