@mixin bpSmall {
  @media screen and (max-width: #{$breakpoint-m - 1}) {
    @content;
  }
}

@mixin bpMedium {
  @media screen and (min-width: #{$breakpoint-m}) {
    @content;
  }
}

@mixin bpLarge {
  @media screen and (min-width: #{$breakpoint-l}) {
    @content;
  }
}

@mixin bpXLarge {
  @media screen and (min-width: #{$breakpoint-xl}) {
    @content;
  }
}