$primary: #0070f3;
$secondary: #666;
$success: #10b981;
$warning: #f59e0b;
$error: #ef4444;
$highlight: #00ff00;
$text-primary: #333;
$text-secondary: #878787;
$border: #ddd;
$white: #fff;
$off-white: #f9f9f9;
$black: #000;
$charcoal: #4f4f4f;
$purple: #3d2575;


// border radius
$border-radius-small: 1rem;
$border-radius-medium: 2rem;
$border-radius-large: 3rem;

// Breakpoints
$breakpoint-s: 320px;
$breakpoint-m: 769px;
$breakpoint-l: 1025px;
$breakpoint-xl: 1441px;

// Vertical Breakpoints
$breakpoint-height-sm: 600px;
$breakpoint-height-md: 800px;
$breakpoint-height-lg: 900px;

// Typography
$font-family-base: 'Arial, Helvetica, sans-serif';
$font-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.875rem
);

