nav.nav {
	position: fixed;
	width: 100%;
	backdrop-filter: blur(1rem);
	background-color: rgba(255, 255, 255, 0.1);
	color: $white;
	z-index: 1000;

	@include respond(tablet) {
		height: 3rem;
	}

	.navList {
		display: flex;
		flex-direction: column;
		list-style: none;
		height: 100%;
		margin: 0;
		padding: 0 1rem;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;

		@include respond(tablet) {
			flex-direction: row;
		}

		.navItem {
			cursor: pointer;
			font-size: 1.4rem;
			font-weight: 500;
			color: var(--text-primary);
			text-decoration: none;
			opacity: 0.05;
			pointer-events: none;
			transition: opacity 0.3s ease, text-decoration 0.3s ease;
			font-family: var(--font-instrument-serif);

			&:hover {
					// text-decoration: underline;
			}
			.navLink {
				color: inherit;
				text-decoration: none;
			}
		}
		.thrown {
			opacity: 1;
			pointer-events: auto;
		}
	}
}