nav.nav {
	position: fixed;
	width: 100%;
	backdrop-filter: blur(1rem);
	background-color: rgba(255, 255, 255, 0.1);
	color: $white;
	z-index: 1000;
	height: 5rem;
	.navList {
		display: flex;
		flex-direction: row;
		list-style: none;
		height: 100%;
		margin: 0;
		padding: 0 1rem;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;

		@include bpMedium {
			justify-content: center;
		}

		.navItem {
			flex: 1;
			@include bpMedium {
				flex: none;
			}
			cursor: pointer;
			font-size: 1.4rem;
			font-weight: 500;
			color: var(--text-primary);
			text-decoration: none;
			opacity: 0.05;
			pointer-events: none;
			transition: opacity 0.3s ease, text-decoration 0.3s ease;
			font-family: var(--font-instrument-serif);

			&:hover {
					// text-decoration: underline;
			}
			.navLink {
				color: inherit;
				text-decoration: none;
				background: none;
				border: none;
				padding: 0;
				cursor: pointer;
				.icon {
					max-width: 3rem;
					max-height: 3rem;
					&:global(.else) {
						max-width: 3.5rem;
						max-height: 3.5rem;
					}
					@include bpMedium {
						display: none;
					}
				}
				span {
					display: none;
					font-size: 1.5rem;
					font-family: var(--font-instrument-serif);
					cursor: pointer;
					@include bpMedium {
						display: inline;
					}
				}
			}
		}
		.thrown {
			opacity: 1;
			pointer-events: auto;
		}
	}
}