.emptyDeck {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 1s ease-in-out 0.1s;
	cursor: pointer;
	color: $white;
	font-family: var(--font-instrument-serif);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	&.active {
		opacity: 1;
	}

	.icon {
		max-width: 3rem;
		max-height: 3rem;
	}

  p {
    text-align: center;
    font-size: 2rem;
    @include bpLarge {
      font-size: 2.5rem;
    }
  }
}